### Scrap date of publication

In [1]:
# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import packages
import requests
from bs4 import BeautifulSoup as soup
import pandas as pd
import time

In [3]:
homes=[]
for x in range(1,3): # x is number of pages that you want to extract
    url='https://houni.tn/immobiliers/achat?categories=1&currentPage='
    r=requests.get(url+str(x))
    page=soup(r.content,'html.parser')
    cards=page.findAll('div',class_='card')
    for card in cards:
        price=card.find('div',class_='card-footer').text.strip().replace(' ','.').split('.DTN')[0] #scrap the price
        location=card.find('p',class_='subtitle is-size-6 has-text-grey-darker mb-3').text.strip() #scrap location
        province=card.find('p',class_='subtitle is-size-6 has-text-grey-darker mb-3').text.strip().split(',')[-1] #scrap province
        card_details=card.find('div',class_='card-details has-text-grey-darker mb-2').text.strip().split() #scrap house details
        number_of_rooms=card_details[0] #scrap number of rooms
        number_of_BR=card_details[2] #scrap number of bathroom
        area=card_details[-2] # scrap area
        # Dictionnary of items
        property_info={
            'Price':price,
            'Location':location,
            'Area':area,
            'Number_of_rooms':number_of_rooms,
            'Number_of_bathroom':number_of_BR,
            'Province':province
        }
        # List of all the pages
        homes.append(property_info)
    #giving a little of breakings between the requests = 3s
    time.sleep(3)

In [4]:
# DataFrame
df=pd.DataFrame(homes)

In [5]:
pd.set_option('display.max_rows',6)

In [6]:
# Display the 5 first rows
df.head()

,Price,Location,Area,Number_of_rooms,Number_of_bathroom,Province
0,400.000,"djerba houmt souk,Midoun,Djerba Midoun,Mednine",280,2,2,Mednine
1,1,"djerba houmt souk,Midoun,Djerba Midoun,Mednine",200,2,3,Mednine
2,560.000,"la soukra ,Soukra,Soukra,Ariana",220,4,2,Ariana
3,450.000,"djerba houmt souk ,Midoun,Djerba Midoun,Mednine",208,1,3,Mednine
4,750.000,"djerba houmt souk,Midoun,Djerba Midoun,Mednine",350,2,3,Mednine

In [7]:
# Dimensions
df.shape

(40, 6)

In [8]:
df.columns

Index(['Price', 'Location', 'Area', 'Number_of_rooms', 'Number_of_bathroom',
       'Province'],
      dtype='object')

In [9]:
df[['Area','Number_of_rooms','Number_of_bathroom']]=df[['Area','Number_of_rooms','Number_of_bathroom']].astype('int64')

In [10]:
# Create csv file
df.to_csv('Scraping_Homes.csv',index=False)